body
{
    font-family: 'Lobster', cursive;
    background: lightskyblue;
}

.header_div
{
    background: white;
    color: lime;
}

.header_div p
{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button
{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer
{
    position: fixed;
    color: green;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: aquamarine;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}
a
{
    font-size: 20px !important;
width: 400px;
border-radius: 30px !important;
background-color: white;
color: black;
}